<div id="<%= dom_id discount_rate %>" class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Discount Rate Details</h5>

    <div class="row mb-2">
      <div class="col-md-6">
        <p><strong>Min:</strong> <%= discount_rate.min %></p>
      </div>
      <div class="col-md-6">
        <p><strong>Max:</strong> <%= discount_rate.max %></p>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-6">
        <p><strong>Description:</strong> <%= discount_rate.description %></p>
      </div>
      <div class="col-md-6">
        <p><strong>Discount:</strong> <%= discount_rate.discount %></p>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-6">
        <p><strong>Position:</strong> <%= discount_rate.position %></p>
      </div>
      <div class="col-md-6">
        <p><strong>Year:</strong> <%= discount_rate.year %></p>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-md-6">
        <p><strong>Active:</strong> <%= discount_rate.active %></p>
      </div>
    </div>
  </div>
</div>
